body {
    background-color: #f7f8f7;
}

section {
    padding-bottom: 10px;
}

.navbar {
    background-color: #f7f8f7 !important;
    border: 0px;
    
}

.navbar-brand {
    color: #ef824c !important;
   font-family: "Kaushan Script","Helvetica Neue", cursive;
   display: inline-flex;
}

.navbar-header button {
    color: #ef824c !important;
    border: 0px solid #ef824c !important;
}

nav ul {
     margin-top: 0 !important;
     margin-bottom: 0 !important;
}

.navbar-brand {
    padding: 8px 15px;
}

.navbar .navbar-nav li a {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #999;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.navbar-custom:not(.navbar-inverse) .navbar-nav li a:hover {
    color: #ef824c;
}

.navbar .navbar-nav .active a {
    background: none;
    color: #ef824c;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.shrink  li a:hover {
    color: #111 !important;
}


.shrink .name {
    color: #373737 !important;
}

.shrink .legend {
    color: #373737 !important;
}

.bg-orange {
    background-color: #ffa0e0;
    height: 600px;
}

#welcome {
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

h1:hover {
  background-color:#ef824c;
}    

#pic {
    width:57%;
    border-style: solid;
    border-width: 3px;  
    border-color: #ef824c;
}

.shrink {
    background-color: #fff !important;
    border-bottom: 1px solid #eaeaea;
}

.vcenter {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
}

ul {
     list-style: none outside none;
     margin-top: 8% !important;
     margin-bottom: 8% !important;
 }

.main-header h3 {
    font-weight: 300;
    font-size: 1.20em;
    letter-spacing: 3px;
    color: #a0a0a0;
}

.main-header h1 {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 5.2em;
    font-weight: 700;
    letter-spacing: 15px;
    color: #ececec;
}

.main-header .quote {
    font-size:1.5em;
    font-weight: 300;
    color: #a0a0a0;
}

.scroller {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 120px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: rgba(235, 235, 235, 0.5);
}

.scroller a { color: #dadada; }
.scroller a:active { color: #dadada; }
.scroller a:visited { color: #dadada; }
.scroller a:hover { color: #dadada; text-decoration: none; }

section header {
    margin-bottom: 30px;
}

.title {
    text-transform: uppercase;
    color: #111;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 2em;
    margin-top: 5px;
}

.subtitle {
    text-transform: uppercase;
    color: #999;
    letter-spacing: 3px;
    font-weight: 400;
    padding-bottom: 0px;
}

section header {
    margin-top: 70px;
}


/*ABOUT SECTION*/

.text-about {
    font-size: 15px !important;
    text-transform: uppercase;
    line-height: 24px !important;
    letter-spacing: 2px !important;
}

.about-list {
    font-size: 14px !important;
    line-height: 28px !important;
}

ul.about-list li {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 7px 0;
}

ul.about-list li span {
    min-width: 130px;
    display: inline-block;
    font-weight: 600 !important;
}

.avatar {
    height: 400px;
}
.avatar .img-responsive {
    margin: 0 auto;
}

/********** Skills **********/
.bg-white {
    background-color: #fff;
}


.binary-text {
    font-size: 2em;
    font-weight: 500;
    color: #ef824c !important;
    padding-right: 20px;
}

.skill-list {
     margin-top: 0% !important;
     margin-bottom: 10% !important;
}

.skill-title {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 28px !important;
    display: table;
    text-transform: uppercase;
}

.skill-list li {
    padding-bottom: 3%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.item-list {
    padding-bottom: 25px;
}

.bg-map {
    background-color: #ef824c !important;
    padding: 3% 3% 3% 3%;
    min-height: 360px;
    margin-bottom: 50;
}

.bg-map ul li {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
    padding: 0 0 0 40px;
    text-transform: uppercase;
    position: relative;
}

.bg-map ul li span {
    position: absolute;
    font-size: 1.4em;
    left: 0;
    top: 0;
}


.social-links {
    background-color: #111;
    font-size: 1.6em;
}

.social-links ul {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    padding: 0;
}

.social-links ul li {
    display: inline-block;
    padding-right: 35px;
    margin-right: 35px;
    border-right: 1px solid #777;
}

.social-links ul li:last-child {
   border-right: 0;
   padding-right: 35px;
   margin-right: 0;
}

.social-links a {
    color: #999;
}

.social-links a:hover {
    color: #ececec !important;
}

.social-links a:visited {
    color: #999;
}

.bg-darkgray {
    background-color: #252525;
}

@media (max-width: 690px) {
    .main-header h1 {
        font-size: 3em;
    }

    .separator {
        display: none;
    }

    .pf-item {
        padding-top: 80px;
        border-bottom: 1px solid #e0e0e0
    }

    .pf-item .img-responsive {
        padding-bottom: 20px;
    }

    .bg-map {
        min-height: 360px;
    }

    .social-links ul li {
        padding-right: 15px;
        margin-right: 15px;
    }
    .social-links ul li:last-child {
       padding-right: 15px;
    }
    
    
.contente {  
    font-weight: 600;
    font-family: "Kaushan Script","Helvetica Neue", cursive;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &:before {
      content: '[';
      left: 0;
    }

    &:after {
      content: ']';
      position: relative;
      right: 0;
    }

    &:after, &:before {
      position: relative;
      top: 0;
      
      color: #ef824c;
      font-size: 42px;
      line-height: 40px;
      
      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
}
@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

}